@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffb400;
  --secondary: #fff8ee;
}

@layer base {
  li {
    @apply px-4 text-white font-bold text-xs cursor-pointer
  }

  button {
    @apply border-2 border-white rounded-full cursor-pointer bg-primary font-bold
  }

  .formation-item {
    cursor: pointer;
  }

  .formation-item:hover button {
    width: auto;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
}